@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
@theme {
  --color-brand: #7c3aed;
  --color-brand-hover: #6d28d9;
}

/* 1. ESTADO POR DEFECTO (MODO CLARO) */
:root {
  --background: #f9f9f9;
  --foreground: #2f2f2f;
  --card: #f3f3f3;
  --border: #e5e5e5;
  --aside: #f3f4f6;
}

/* 2. ESTADO CUANDO EXISTE LA CLASE .dark (MODO OSCURO) */
.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --card: #101010;
  --border: #1a1a1a;
  --aside: #101010;
}

/* 3. APLICACIÓN DE LAS VARIABLES */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  /* La transición es clave para que el cambio no sea brusco */
  transition: background-color 0.3s ease, color 0.3s ease;
}

html, body {
  height: 100%;
  overflow: hidden;
}

/* Asegúrate de que Tailwind use las variables para los bordes y fondos */
* {
  border-color: var(--border);
}